/*Viết mã css*/
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #e0f2fe;
        }

        .container {
            width: 800px;
            margin: auto;
            background: #fffdf5;
            border: 2px solid black;
            padding: 20px;
        }

        h1 {
            text-transform: uppercase;
        }

        .profile {
            border: 3px double #999; /* khung đôi 2 gạch*/
            padding: 1px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            background-color: #f8fafc;
        }

        .profile img {
            width: 120px;
            height: 150px;
            object-fit: cover;
            margin-right: 15px;
            border: 1px solid #ccc;
            padding: 2px
        }

        table {
            border-collapse: collapse;
            margin-top: 10px;
        }

        table, th, td {
            border: 3px double #666;
        }

        th {
        background-color: #fde68a; 
        padding: 10px;
        text-align: left;
        }

        td {
        padding: 8px 10px;
        background-color: #f8fafc;
        }

        h4 {
        background-color: #f3f4f6;
        padding: 5px;
        border-left: 4px solid #3b82f6;
        }

        ul {
            margin-top: 5px;
        }

        a {
            color: blue;
        }
   